:root {
    --font: "JetBrains Mono";
    --background: #272a30;
    --foreground: #c5c8c6;
    --statusbar: #1d1f21;
    --green: #b5bd68;
    --red: #cc6666;
    --orange: #f0c674;
    --Rmagenta: #9C4F96;
    --RDorange: #FF6355;
    --RLorange: #FBA949;
    --Ryellow: #FBA949;
    --Rgreen: #8BD448;
    --Rblue: #2AA8F2;
    --branch: 1px solid #a7a9be;
}

html {
    font-size: 15px;
}

body {
    font-family: var(--font);
    background: var(--background);
}

.statusbar {
    position: absolute;
    background: var(--statusbar);
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    color: var(--foreground);
    font-size: 13px;
    display:flex;
    flex-direction: row-reverse;

}

.clock{
    display: table-cell;
}

.weather{
    display: table-cell;
}

.display{
    position: absolute;
    bottom: 20px;
    right: 20px;
    border: var(--branch);
    border-radius: 5px;
    border-width: 2px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img{
    width: 30vh;
    color: var(--foreground);
}

.container {
    position: absolute;
    background-color: var(--background);
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%);
    padding:20px;
    border:  1px solid var(--red);
    border-radius: 5px;
    border-width: 2px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.prompt {
    color: var(--foreground);
}

.prompt~.prompt {
    padding: 1rem 0 0.3125rem;
}

span {
    color: var(--green);
}

h1 {
    display: inline;
    font-family: var(--font);
    font-size: 1rem;
    font-weight: normal;
    color: var(--red);
}

.tree > ul {
    margin: 0;
    padding-left: 1rem;
}

ul {
    list-style: none;
    padding-left: 2.5rem;
}

li {
    position: relative;
}

li::before, li::after {
    content: "";
    position: absolute;
    left: -0.75rem;
}

li::before {
    border-top: var(--branch);
    top: 0.75rem;
    width: 0.5rem;
}

li::after {
    border-left: var(--branch);
    height: 100%;
    top: 0.25rem;
}

li:last-child::after {
    height: 0.5rem;
}

a {
    font-family: var(--font);
    font-size: 1rem;
    color: var(--foreground);
    text-decoration: none;
    outline: none;
}

a:hover {
    color: var(--background);
    background: var(--orange);
}

form h1 {
    padding-left: 0.125rem;
}

input {
    font-family: var(--font);
    font-size: 1rem;
    color: var(--foreground);
    background-color: var(--background);
    border: none;
    width: auto;
}

.right {
    text-align: left;
}

.ansii{
    font-style: italic;
    font-size: 1rem;
    text-align: center;
    animation: color-change 30s infinite;
    padding: 0 0.01rem;
}

@keyframes color-change {
    0% { color: var(--Rmagenta);}
    14% { color: var(--RDorange);}
    35% { color: var(--RLorange);}
    51% { color: var(--Ryellow);}
    67% { color: var(--Rgreen);}
    84% { color: var(--Rblue);}
    100% { color: var(--Rmagenta);}
}